<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <div class="container-fluid">
      <%- include('../includes/navigation.ejs') %>
      <div class="add-notice">
        <form action="/admin/add-notification" method="POST">
          <label for="">enter</label>
          <input type="text" name="notice" /> 
          <input type="submit" value="upload" />
          <input type="hidden" value="<%= csrfToken %>" name="_csrf" />

        </form>

      </div>

    </div>
  </body>
</html>
