<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <form action="/admin/add-notification" method="POST">
      <label for="">enter</label>
      <input type="text" name="notice" /> 
      <input type="submit" value="upload" />
    </form>
  </body>
</html>
