
<%- include('../includes/head.ejs') %>

</head>
<body>

    <div class="container-fluid">
        <%- include('../includes/navigation.ejs') %>
        <div class="login-box">
            <h2>Login</h2>
            <form action="/admin/login" method="POST">
              <div class="user-box">
                <input type="email" name="email" required="">
                <label>Email</label>
              </div>
              <div class="user-box">
                <input type="password" name="password" required="">
                <label>Password</label>
              </div>
        
              <button type="submit" href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
              </button>
            </form>
          </div>
    </div>
    
</body>
</html>