<footer class="mainFooter sectionSpace">
  <div class="container">
    <div class="row footerContent">
      <div class="col-md-3">
        <div class="">
          <img src="imgs/logo.png" alt="" />
        </div>
      </div>

      <div class="col-md-4">
        <div class="navigation">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Staff</a></li>
            <li><a href="#">News</a></li>
          </ul>

          <ul>
            <li><a href="#">Placements</a></li>
            <li><a href="#">Fees</a></li>
            <li><a href="#">Downloads</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-5 d-flex">
        <div class="adressDetail">
          <h2>
            guru nanak dev institute of <span class="tech">technology</span>
          </h2>
          <div class="ml-3">
            <h3 class="address">
              <i class="fas fa-map"></i>Sector 15, Sector 15A, Rohini, Delhi,
              110089
            </h3>
            <h3>
              <span><i class="fas fa-phone-alt"></i> Phone:</span> +91 97914
              66036 , +91 87 543 25 685
            </h3>
            <h3>
              <span><i class="fas fa-envelope"></i>eMail:</span>
              contactus@thazhaleducation.in
            </h3>
            <h3>www.example.com</h3>
          </div>
          <div class="social"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row copyRight">
      <div class="col mb-3">
        <p>© Copyright. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
