
<%- include('../includes/head.ejs') %>

</head>
<body>
    <header class="contactHeader">
        <div class="container-fluid navContainer">
          <%- include('../includes/navigation.ejs') %>
        </div>
    </header>

    <section class="contactAddress ">
        <div class="container-fluid">
          <div class="row">
            <div class="col p-0">
                <div class="bg">
                    <div class="text">
                        <h1>guru nanak dev institute of <span class="tech">technology</span></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
        <div class="sectionSpace">

          <div class="row ">
              <div class="col-md-6 col-lg-6 m-auto">
                  <div class="contactDetail">
                      <h2>guru nanak dev institute of <span class="tech">technology</span>
                      </h2>
                      <h3 class="address"><i class="fas fa-map"></i>Sector 15, Sector 15A, Rohini, Delhi, 110089</h3>
                      <h3><span><i class="fas fa-phone-alt"></i> Phone:</span> +91 97914 66036 , +91 87 543 25 685</h3>
                      <h3><span><i class="fas fa-envelope"></i>eMail:</span> contactus@thazhaleducation.in</h3>
                      <h3>www.example.com</h3>
                      <div class="social">

                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-6" >
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3498.682025695785!2d77.12161781451317!3d28.72904728237977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d013f8a74f051%3A0x8a728f9fe6976d1b!2sGuru%20Nanak%20Dev%20Institute%20of%20Technology!5e0!3m2!1sen!2sin!4v1598607974796!5m2!1sen!2sin"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
              </div>
          </div>
        </div>
        </div>
        </div>
    </section>


    
<%- include('../includes/footer.ejs') %> 
<%- include('../includes/end.ejs') %> 
</body>
</html>