
<%- include('../includes/head.ejs') %>

</head>
<body>
    
    <header id="main-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col p-0 ribbon-col">
                    <div class="contact-ribbon">
                        <div class="container">
                            <div class="ribbonIcons">
                   
                                <span><i class="fab fa-facebook-f"></i>
                                </span>
                                <span><i class="fab fa-twitter" aria-hidden="true"></i></span>
                                <span><i class="fab fa-instagram" aria-hidden="true"></i></span>
                            </div>
                            <div class="ribbon-info">
                                <ul>
                                    <li>TOTAL COURSES: 23400</li>
                                    <li> INSTRUCTOR: 655</li>
                                    <li> HELP LINE: +910000000</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg">
            
           <%- include('../includes/navigation') %>

            <div class="row">
                <div class="col p-0">
                    <div class="hero">
                        <!-- <div class="logo">
                            <p>guru-nanak-dev-institute-of-technology-rohini-delhi-engineering-colleges</p>
                        </div> -->
                        <div class="owl-carousel owl-theme">
                            <div class="item slide-1">
                                <div class="overlay"></div>
                                <div class="slide-text">
                                    <h1><span class="first">GURU NANAK DEV INSTITUTE</span> <span class="second">OF <span class="tech">TECHNOLOGY</span> </h1></span>
                                    <div class="govt">
                                        <h4>GOVT. OF NCT OF DELHI</h4>
                                        <h4>DIRECTORATE OF TRAINING & TECHNICAL EDUCATION</h4>
                                    </div>
                                </div>
                                <div class="img-container1"></div>
                            </div>
                            <div class="item slide-2">
                                <div class="overlay"></div>

                              
                                <div class="slide-text">
                                    <h1 class="text-uppercase"><span class="first">welcome to our</span> <span class="second">  <span class="tech">college</span> </h1></span>
                                </div>
                                <div class="img-container2"></div>

                            </div>
                            <div class="item slide-3">
                                <div class="overlay"></div>

                                <div class="slide-text">
                                    <h1 class="text-uppercase"><span class="first">An insvestment in <span class="tech">knowledge</span> </span> <span class="second">always pays the best interest</h1></span>
                                </div>
                                <div class="img-container3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </header>

    <section class="icons">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="d-flex icon">
                        <span><i class="fa fa-university fa-3x" aria-hidden="true"></i></span>
                        <div class="ml-4">
                            <h3>College Life</h3>
                            <h4>Overall in here</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="d-flex icon">
                        <span><i class="fa fa-graduation-cap fa-3x" aria-hidden="true"></i></span>
                        <div class="ml-4">
                            <h3>Graduation</h3>
                            <h4>Getting Diploma</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="d-flex icon">
                        
                        <span><i class="fas fa-football-ball fa-3x" aria-hidden="true"></i></span>
                        <div class="ml-4">
                            <h3>Athletics
                            </h3>
                            <h4>Sport Clubs
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="d-flex icon">
                       
                        <span><i class="fas fa-users fa-3x" aria-hidden="true"></i></span>
                        <div class="ml-4">
                            <h3>Social</h3>
                            <h4>Overall in here
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mainCounter">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="counter">

                        <div class="count">
                            <div>
                              
                                <span><i class="fas fa-book-reader fa-3x"></i></span>
                                <p class="digit" data-value="985">0</p>
                                <h3>Courses</h3>
                            </div>
                        </div>
                
                        <div class="count">
                            <div >
                                
                                <span><i class="fas fa-user-graduate fa-3x"></i></span>
                                <p class="digit" data-value="95">0</p>
                                <h3>Students</h3>
                            </div>
                        </div>
                
                        <div class="count">
                            <div>
                                
                                <span><i class=" fas fa-chalkboard-teacher fa-3x"></i></span>
                                <p class="digit" data-value="255">0</p>
                                <h3>Staff</h3>
                            </div>
                            
                        </div>

                        
                        <div class="count">
                            <div>
                             
                                <span><i class="fas fa-award fa-3x"></i></span>
                                <p class="digit" data-value="785">0</p>
                                <h3>Awards Won</h3>
                            </div>
                            
                        </div>
                
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="gallery">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="computer underline">
                        <h1 class="heading">Glimpse</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="owl-carousel carousel-2 owl-theme">
                        <div class="item">
                            <div class="imgContainer">
    
                                <img class="img-fluid" src="images/imgGallery/2017-09-24.jpg" style="object-fit: cover;" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="imgContainer">
                                <img class="img-fluid" src="images/imgGallery/guru-nanak-dev-institute-of-technology-rohini-delhi-engineering-colleges-7nylzh5a2b.webp" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="imgContainer">
                                <img class="img-fluid" src="images/imgGallery/4.png" alt="">
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="col-md-4 more">
                    <a href="gallery.html">

                        <div class="card .more">
                          
                           <p class="moreText">Go To Gallery<span><i class="fas fa-long-arrow-alt-right"></i></span></p>

                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    

    
    <section class="message">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="content">
                        <div class="figureContainer">

                            <div class="figure">
                                
                                <img src="images/imgs/Principal.jpg" alt="">
                            
                              </div>
                        </div>
                        <p class="pricipalMessage">First of all I welcome here all those who re visiting this Institute through our website. Let me take this opportunity to introduce you about this Institute. This institute namely Guru Nanak Dev Institute of Technology was started in the year 1995 by Department of Technical Education, Govt. of Delhi . The Institute runs 3 year Diploma program in morning and evening shifts in various branches such as 1. Computer Engineering 2. Electrical Engineering 3. Electronics & Communication Engineering 4. Chemical Engineering 5. Polymer Technology 6. Mechanical Engineering. These Diploma programs are affiliated to State Board to State Board Of Technical Education (BTE).</p>
                
                        <p class="pricipalName "><span></span> RAVINDER SINGH PRINCIPAL </p>
                    </div>
                    <!-- <div class="d-flex justify-content-between align-items-start">
                        <a class="readMore " href="#">Read More!</a>
                    </div> -->
                </div>
               
            </div>
        </div>

    </section>

    <section class="tour">
        <div class="container">
            <div class="row videoRow">
                <div class="col-md-6 pr-0">
                    <div class="video">
                        <span class="playIcon"><i class="fas fa-play-circle fa-3x"></i></span>
                        
                    </div>
                </div>
                <div class="col-md-6 pb-5 videoCol pl-0">
                   <div>
                        <div class="videoDescription">
                            <h3 class="underline">Take a tour</h3>
                            <h1>Our campuses are living laboratories for sustainability.</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut labore et.dolore magna aliquauis aute irure dolor.</p>
                        </div>
                        <div class="videoIcons">
                                <span><i class="fab fa-facebook-f fa-3x"></i>
                                </span>
                                <span><i class="fab fa-twitter  fa-3x" aria-hidden="true"></i></span>
                                <span><i class="fab fa-instagram  fa-3x" aria-hidden="true"></i></span>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </section>

    <section  class="gallery">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="computer underline">
                        <h1 class="heading">Staff</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="owl-carousel carousel-3 owl-theme">
                        <div class="item">
                            <div class="imgContainer">

                                <img class="img-fluid" src="images/imgGallery/4.png" alt="">
                            </div>
                        </div>
                        <div class="item">
                            <div class="imgContainer">

                                <img class="img-fluid" src="images/imgGallery/guru-nanak-dev-institute-of-technology-rohini-delhi-engineering-colleges-7nylzh5a2b.webp" alt="">
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="col-md-4 more">
                    <a href="staff.html">

                        <div class="card .more " id="teachers">
                           
                           <p class="moreText">Our  Teachers<span><i class="fas fa-long-arrow-alt-right"></i></span></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <section id="courses" class="news">
        <div class="container">
            
            <div class="row">
                <div class="col-md-4">
                    <h1 class="subHeading">ABOUT GNDIT</h1>
                    <div class="card">
                        <div class="cardContainer">

                            <div class="card-img">
                                <img class="img-fluid" src="images/imgcourse/computeEngineering.jpg" alt="">
                            </div>
                            <div class="cardBody">
                                <h3 class="brach">
                                    Bring Youth to Fun & Study
                                </h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, nulla.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <h1 class="subHeading">STUDENT LIFE</h1>
                    <div class="card">
                        <div class="cardContainer">

                            <div class="card-img">
                                <img class="img-fluid" src="images/imgcourse/mvoc.jpg" alt="">
                            </div>
                            <div class="bodyContainer">
    
                                <div class="cardBody">
                                    <h3 class="brach">
                                        Life is Like Riding a Bicycle
                                    </h3>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, nulla.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 newsList">
                    <div class="card newsCard" >
                        <div class="card-header">
                            Latest News
                        </div>
                        <div class="listContainer">


                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">
                                  <div>
                                      <h5 class="mb-4"> <i class="far fa-clock mr-3"></i>may 26, 2020</h5>
                                      <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asp</h3>
                                  </div>
                              </li>
                              <li class="list-group-item">
                                <div>
                                    <h5 class="mb-4"> <i class="far fa-clock mr-3"></i>may 26, 2020</h5>
                                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asp</h3>
                                </div>
                            </li>
                              <li class="list-group-item">
                                <div>
                                    <h5 class="mb-4"> <i class="far fa-clock mr-3"></i>may 26, 2020</h5>
                                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asp</h3>
                                </div>
                            </li>
                              <li class="list-group-item">
                                <div>
                                    <h5 class="mb-4"> <i class="far fa-clock mr-3"></i>may 26, 2020</h5>
                                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asp</h3>
                                </div>
                            </li>
                              <li class="list-group-item">
                                <div>
                                    <h5 class="mb-4"> <i class="far fa-clock mr-3"></i>may 26, 2020</h5>
                                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asp</h3>
                                </div>
                            </li>
                              <li class="list-group-item">
                                <div>
                                    <h5 class="mb-4"> <i class="far fa-clock mr-3"></i>may 26, 2020</h5>
                                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asp</h3>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                            <div class="list-group-item">
                                <div class="d-flex justify-content-center">

                                    <p class="moreText">More News! <span><i class="fas fa-long-arrow-alt-right"></i></span></p>
                                        
                                </div>
                            </div>
                      </div>
                </div>

               
            </div>
        </div>
    </section>
    
    <section id="courses">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="computer underline">
                        <h1 class="heading">Engineering Departments</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="cardContainer">

                            <div class="card-img">
                                <img class="img-fluid" src="images/imgcourse/computeEngineering.jpg" alt="">
                            </div>
                       
                                <div class="cardBody">
                                    <h3 class="brach">
                                        3 Year Diploma in Computer.
                                    </h3>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, nulla.</p>
                                </div>
                        </div>
                    
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <div class="cardContainer">

                            <div class="card-img">
                                <img class="img-fluid" src="images/imgcourse/mvoc.jpg" alt="">
                            </div>
                            <div class="cardBody">
                                <h3 class="brach">
                                    M.Voc.(SD)
                                </h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur, nulla.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 more">
                    <a href="courses.html">

                        <div class="card">
                           <p class="moreText moreBtnCourses">Courses  Providing<span><i class="fas fa-long-arrow-alt-right"></i></span></p>
                            
                        </div>
                    </a>
                </div>

               
            </div>
        </div>
    </section>

    <%- include('../includes/footer.ejs') %> 



<%- include('../includes/end.ejs') %>
</body>
</html>